<?xml version="1.0" encoding="utf-8" ?>
<RuleSet Name="SDL Recommended Rules" Description="These rules focus on the most critical security problems in your code. You should include this rule set in any custom rule set you create for your projects." ToolsVersion="15.0">
    <Rules AnalyzerId="Desktop.CSharp.Analyzers" RuleNamespace="Desktop.CSharp.Analyzers">
        <Rule Id="CA2153" Action="Error" />
        <Rule Id="CA3075" Action="Error" />
        <Rule Id="CA3076" Action="Error" />
        <Rule Id="CA3077" Action="Error" />
        <Rule Id="CA5350" Action="Error" />
        <Rule Id="CA5351" Action="Error" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1003" Action="None" />
        <Rule Id="SA1009" Action="None" />
        <Rule Id="SA1118" Action="None" />
        <Rule Id="SA1124" Action="None" />
        <Rule Id="SA1309" Action="None" />
        <Rule Id="SA1500" Action="None" />
        <Rule Id="SA1623" Action="None" />
        <Rule Id="SA1633" Action="None" />
        <Rule Id="SA1634" Action="None" />
    </Rules>
    <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
        <Rule Id="CA1001" Action="None" />
        <Rule Id="CA1018" Action="None" />
        <Rule Id="CA1036" Action="None" />
        <Rule Id="CA1309" Action="None" />
        <Rule Id="CA2213" Action="None" />
        <Rule Id="CA4014" Action="Warning" />
    </Rules>
</RuleSet>
